# backend
.venv/
__pycache__/
*.pyc
backend/temp
backend/tests

# frontend
frontend/node_modules

# infrastructure
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# enviroment files
*.env
!*.env.example
